node_modules
.vscode
official python gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
hardhat/artifacts/contracts/MyContract.sol/MyContract.dbg.json
hardhat/artifacts/@openzeppelin/contracts/utils/math/Math.sol/Math.json
hardhat/artifacts/@openzeppelin/contracts/utils/math/Math.sol/Math.dbg.json
hardhat/artifacts/@openzeppelin/contracts/utils/introspection/IERC165.sol/IERC165.json
hardhat/artifacts/@openzeppelin/contracts/utils/introspection/IERC165.sol/IERC165.dbg.json
hardhat/artifacts/@openzeppelin/contracts/utils/introspection/ERC165.sol/ERC165.json
hardhat/artifacts/@openzeppelin/contracts/utils/introspection/ERC165.sol/ERC165.dbg.json
hardhat/artifacts/@openzeppelin/contracts/utils/Context.sol/Context.json
hardhat/artifacts/@openzeppelin/contracts/utils/Context.sol/Context.dbg.json
hardhat/artifacts/@openzeppelin/contracts/token/ERC721/IERC721Receiver.sol/IERC721Receiver.json
hardhat/artifacts/@openzeppelin/contracts/token/ERC721/IERC721Receiver.sol/IERC721Receiver.dbg.json
hardhat/artifacts/@openzeppelin/contracts/token/ERC721/IERC721.sol/IERC721.json
hardhat/artifacts/@openzeppelin/contracts/token/ERC721/IERC721.sol/IERC721.dbg.json
hardhat/cache/solidity-files-cache.json
hardhat/artifacts/contracts/MyContract.sol/MyContract.json
hardhat/artifacts/build-info/589d4c8eeee4fe5701f3efaaafa5ba33.json
hardhat/artifacts/build-info/5f4fa5fd16cbf289d826ef89d897db59.json
hardhat/artifacts/@openzeppelin/contracts/utils/Strings.sol/Strings.json
hardhat/artifacts/@openzeppelin/contracts/utils/Strings.sol/Strings.dbg.json
hardhat/artifacts/@openzeppelin/contracts/utils/math/SignedMath.sol/SignedMath.json
hardhat/artifacts/@openzeppelin/contracts/utils/math/SignedMath.sol/SignedMath.dbg.json
hardhat/artifacts/@openzeppelin/contracts/token/ERC721/extensions/IERC721Metadata.sol/IERC721Metadata.json
hardhat/artifacts/@openzeppelin/contracts/token/ERC721/extensions/IERC721Metadata.sol/IERC721Metadata.dbg.json
hardhat/artifacts/@openzeppelin/contracts/token/ERC721/ERC721.sol/ERC721.json
hardhat/artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC1155Errors.json
hardhat/artifacts/@openzeppelin/contracts/token/ERC721/ERC721.sol/ERC721.dbg.json
hardhat/artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC1155Errors.dbg.json
hardhat/artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC721Errors.json
hardhat/artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC20Errors.dbg.json
hardhat/artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC20Errors.json
hardhat/artifacts/@openzeppelin/contracts/interfaces/draft-IERC6093.sol/IERC721Errors.dbg.json
